@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Koulen&display=swap");
$paletacolores: #FF6666, #FF8989, #FFEADD;
p{
    @extend%parrafoletra
}
h1{
    @extend%parrafoDOS
}
h2{
    @extend%parrafoDOS
}
li a{
    @extend%parrafoDOS
}
footer{
    @extend%parrafoletra
}
nav{
    background-color: #FFEADD;
}
.buscador{
    text-decoration: none;
    color: #FF6666;
}
%flexrow{
    display: flex;
    flex-direction: row;
}
%parrafoletra{
    text-align: center;
    color: nth($paletacolores,1 );
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: nth($paletacolores,3 );
    text-decoration: none;
}
%parrafoDOS{
    text-align: center;
    color: nth($paletacolores,1 );
    font-family: "Koulen", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: nth($paletacolores,3 )
}
@media(max-width:425px){

    .conteiner{   
        display: grid;   
        grid-template-columns: repeat(2,1px);
        grid-template-rows: repeat(3,1px);
        grid-template-areas:
        "encabezado navegador"
        "fotos info"
        "footer footer";
    }
    #svtfoto{
        width: 350px;
        height: 250px;
    }
    #parrafo{
        text-align: center;
    }
   #carouselExampleIndicators{
    width: 400px;
   }
   .carousel-inner{
    width: 400px;
   }
}
